@import "tailwindcss";

@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../../assets/fonts/waldenburg/KMRWaldenburg-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@theme {
  --font-waldenburg: "Waldenburg", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #FD5A57 #0a0a0a;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #FD5A57;
  border-radius: 4px;
}

::selection {
  background-color: #69107d;
  color: #f8d6ff;
}

::-moz-selection {
  background-color: #69107d;
  color: #f8d6ff;
}

